@font-face {
  font-family: "pixeloid sans";
  font-weight: 400;
  src: url("../fonts/pixeloidsans-mlxmm-webfont.woff2") format("woff2"),
    url("../fonts/pixeloidsans-mlxmm-webfont.woff") format("woff");
}

body {
  padding: 0%;
  margin: 0%;
  font-family: "pixeloid sans";
}

.section-content {
  width: auto;
  background-color: #131313;
  overflow: hidden;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 50px;
  border-bottom: dotted;
  border-bottom-color: #f8f9fa;
  border-top: dotted;
  border-top-color: #adb5bd;
}

body > .section-content:nth-child(odd) {
  background-color: #252525;
}

.section-heading {
  color: #f8f9fa;
  font-size: 40px;
  text-align: center;
  font-family: "pixeloid sans", serif;
}

.abt-photo {
  border: dashed;
  border-color: #f8f9fa;
  border-radius: 10px;

  float: left;
  width: 20%;
  margin-right: 20px;
}

.base-text {
  color: #f8f9fa;
  font-size: 16 px;
  overflow: hidden;
}

nav {
  background-color: #080808da;
  border-bottom: dotted;
  border-bottom-color: #f8f9fa;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

nav > a > img {
  width: 20%;
  margin-right: 2%;
  margin-left: 2%;
}

nav > a > .abt-cont:hover {
  content: url(../images/AboutMeHover.png);
}

.grid-container {
  justify-content: center;
  align-items: start;
  display: grid;
  grid-gap: 100px;
  row-gap: 100px;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: max-content;
}

.grid-container > a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.grid-container > a > div {
  border: black;
  border-style: solid;
  border-radius: 5px;
  overflow: hidden;
  background-color: #eee;
}

.grid-container > a > div {
  border: black;
  border-style: solid;
  border-radius: 5px;
  overflow: hidden;
  background-color: #eee;
}

.grid-container > a > div > h3 {
  margin-left: 5px;
  margin-right: 5px;
}

.grid-container > a > div:nth-child(odd) {
  background-color: #ddd;
}

.thumbnail {
  width: 100%;
}

.showreel-container {
  padding-top: 5%;
  text-align: center;
  padding-bottom: 5px;
}

.showreel {
  width: 70%;
  border: dashed;
  border-color: #f8f9fa;
}

@media (max-width: 1000px) {
  .abt-photo-div {
    text-align: center;
  }

  .abt-photo {
    float: none;
    width: 200px;
    margin-right: none;
  }
}

@media (max-width: 300px) {
  .abt-photo {
    float: none;
    width: 50%px;
    margin-right: none;
  }
}

.demo-div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.demo-gif {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.demo-images {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.demo-text {
  color: #f8f9fa;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 16 px;
  overflow: hidden;
}
